(
    seed: 0,
    ticks: 3900,
    sample_every: 100,
    state_hash: 1277964228662444164,
    config: Some("g006/g006-i000.config.ron"),
    rules: Some("g006/g006-i000.pack.ron"),
    actions: None,
    score: (
        samples: 39,
        last_tick: 3900,
        particles_final: 9471,
        bonds_final: 767946,
        structures_final: 205,
        structures_peak: 1887,
        largest_size_final: 7279,
        largest_size_peak: 7279,
        lifetime_final: 39,
        lifetime_peak: 39,
        lifetime_final_mean: 38.453658536585365,
        complexity_final_mean: 4.33121885834213,
        complexity_peak: 20.06348682645249,
        information_final: 25605.535270124674,
        information_peak: 25605.535270124674,
        self_maintaining_structures: 1356,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1178,
        growing_peak_confidence: 0.75,
        persistence_complexity: 300.1104871946783,
    ),
)