(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 10001963942287524982,
    config: Some("g008/g008-i008.config.ron"),
    rules: Some("g008/g008-i008.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 14353,
        bonds_final: 169738,
        structures_final: 865,
        structures_peak: 1880,
        largest_size_final: 110,
        largest_size_peak: 110,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 29.263583815028902,
        complexity_final_mean: 5.10114564722149,
        complexity_peak: 11.401385000002893,
        information_final: 42274.79173206538,
        information_peak: 42717.027616926935,
        self_maintaining_structures: 1336,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1376,
        growing_peak_confidence: 1.0,
        persistence_complexity: 342.0415500000868,
    ),
)