(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 101253126480652830,
    config: Some("g007/g007-i007.config.ron"),
    rules: Some("g007/g007-i007.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 6539,
        bonds_final: 26106,
        structures_final: 882,
        structures_peak: 1611,
        largest_size_final: 24,
        largest_size_peak: 25,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 28.467120181405896,
        complexity_final_mean: 3.6861062287385513,
        complexity_peak: 7.768434857396194,
        information_final: 7377.394242286682,
        information_peak: 7506.543199598789,
        self_maintaining_structures: 1283,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1087,
        growing_peak_confidence: 1.0,
        persistence_complexity: 215.60484493499675,
    ),
)