(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 8541396690672932667,
    config: Some("g000/g000-i000.config.ron"),
    rules: Some("g000/g000-i000.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 10360,
        bonds_final: 80889,
        structures_final: 922,
        structures_peak: 1869,
        largest_size_final: 60,
        largest_size_peak: 60,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 29.41648590021692,
        complexity_final_mean: 4.340883119089559,
        complexity_peak: 9.712830428670852,
        information_final: 10969.62232096307,
        information_peak: 10969.62232096307,
        self_maintaining_structures: 1358,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1204,
        growing_peak_confidence: 1.0,
        persistence_complexity: 259.72635839446434,
    ),
)