(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 11529734483023231042,
    config: Some("g002/g002-i006.config.ron"),
    rules: Some("g002/g002-i006.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 13704,
        bonds_final: 158773,
        structures_final: 851,
        structures_peak: 1760,
        largest_size_final: 154,
        largest_size_peak: 154,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 29.5475910693302,
        complexity_final_mean: 5.0667626539502075,
        complexity_peak: 12.220479917444202,
        information_final: 7314.937682926655,
        information_peak: 7775.531884625554,
        self_maintaining_structures: 1252,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1206,
        growing_peak_confidence: 1.0,
        persistence_complexity: 320.98400518687095,
    ),
)