(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 4725355926977547314,
    config: Some("g006/g006-i003.config.ron"),
    rules: Some("g006/g006-i003.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 12141,
        bonds_final: 105322,
        structures_final: 925,
        structures_peak: 1862,
        largest_size_final: 56,
        largest_size_peak: 56,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 29.321081081081083,
        complexity_final_mean: 4.660981239725867,
        complexity_peak: 10.604599646493684,
        information_final: 16649.127347126603,
        information_peak: 16649.127347126603,
        self_maintaining_structures: 1375,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1267,
        growing_peak_confidence: 1.0,
        persistence_complexity: 318.1379893948105,
    ),
)