(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 4517705907263149361,
    config: Some("g002/g002-i006.config.ron"),
    rules: Some("g002/g002-i006.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 10700,
        bonds_final: 85953,
        structures_final: 870,
        structures_peak: 1744,
        largest_size_final: 50,
        largest_size_peak: 50,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 28.63448275862069,
        complexity_final_mean: 4.542591182663873,
        complexity_peak: 9.649733718884224,
        information_final: 10512.184856578708,
        information_peak: 10512.184856578708,
        self_maintaining_structures: 1290,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1142,
        growing_peak_confidence: 1.0,
        persistence_complexity: 263.83286607115235,
    ),
)