(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 1038937404558261544,
    config: Some("g002/g002-i007.config.ron"),
    rules: Some("g002/g002-i007.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 10115,
        bonds_final: 81355,
        structures_final: 852,
        structures_peak: 1783,
        largest_size_final: 63,
        largest_size_peak: 63,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 29.414319248826292,
        complexity_final_mean: 4.487471180353759,
        complexity_peak: 9.734521820246183,
        information_final: 9767.79991698265,
        information_peak: 9767.79991698265,
        self_maintaining_structures: 1268,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1149,
        growing_peak_confidence: 1.0,
        persistence_complexity: 282.3011327871393,
    ),
)