(
    seed: 0,
    ticks: 2500,
    sample_every: 100,
    state_hash: 1943590987882180838,
    config: Some("g006/g006-i005.config.ron"),
    rules: Some("g006/g006-i005.pack.ron"),
    actions: None,
    score: (
        samples: 25,
        last_tick: 2500,
        particles_final: 9357,
        bonds_final: 224959,
        structures_final: 572,
        structures_peak: 1889,
        largest_size_final: 4743,
        largest_size_peak: 4743,
        lifetime_final: 25,
        lifetime_peak: 25,
        lifetime_final_mean: 24.37937062937063,
        complexity_final_mean: 3.7044698326118066,
        complexity_peak: 17.83823873324978,
        information_final: 4897.02703037858,
        information_peak: 5477.070775270462,
        self_maintaining_structures: 1458,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1146,
        growing_peak_confidence: 1.0,
        persistence_complexity: 219.04988909418313,
    ),
)