(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 10478090020590468190,
    config: Some("g006/g006-i008.config.ron"),
    rules: Some("g006/g006-i008.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 8147,
        bonds_final: 37035,
        structures_final: 1017,
        structures_peak: 1844,
        largest_size_final: 26,
        largest_size_peak: 27,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 29.573254670599802,
        complexity_final_mean: 3.7109873904564408,
        complexity_peak: 8.302203897531381,
        information_final: 4895.8496025800705,
        information_peak: 5414.525510162115,
        self_maintaining_structures: 1451,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1078,
        growing_peak_confidence: 1.0,
        persistence_complexity: 245.81906964632847,
    ),
)