(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 8184646845056453294,
    config: Some("g006/g006-i003.config.ron"),
    rules: Some("g006/g006-i003.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 7675,
        bonds_final: 41205,
        structures_final: 875,
        structures_peak: 1608,
        largest_size_final: 33,
        largest_size_peak: 34,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 29.01942857142857,
        complexity_final_mean: 3.90145514725914,
        complexity_peak: 8.387082687967268,
        information_final: 7603.495819285512,
        information_peak: 7603.495819285512,
        self_maintaining_structures: 1261,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1041,
        growing_peak_confidence: 1.0,
        persistence_complexity: 235.15810950217428,
    ),
)