(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 7696784231085735094,
    config: Some("g006/g006-i006.config.ron"),
    rules: Some("g006/g006-i006.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 8682,
        bonds_final: 56630,
        structures_final: 870,
        structures_peak: 1797,
        largest_size_final: 50,
        largest_size_peak: 50,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 24.148275862068967,
        complexity_final_mean: 4.131001265939649,
        complexity_peak: 9.60012032082384,
        information_final: 9292.95168812573,
        information_peak: 9292.95168812573,
        self_maintaining_structures: 1161,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1190,
        growing_peak_confidence: 1.0,
        persistence_complexity: 249.05039383425947,
    ),
)