(
    id: "g002-i000",
    parent: Some("g001-i000"),
    ops: [
        JitterRule(
            rule: 2,
            field: "transfer.matter",
            old: 0.0,
            new: 0.00017486204,
        ),
        JitterRule(
            rule: 2,
            field: "transfer.energy",
            old: 0.0,
            new: 0.0015791942,
        ),
        JitterRule(
            rule: 0,
            field: "other_cond.information.max",
            old: 0.2,
            new: 0.3238035,
        ),
    ],
    search_seed: 20260714,
    generation: 2,
    individual: 0,
    config: "g002/g002-i000.config.ron",
    rules: "g002/g002-i000.pack.ron",
)