(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 13272155865729289886,
    config: Some("g002/g002-i000.config.ron"),
    rules: Some("g002/g002-i000.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 9188,
        bonds_final: 59732,
        structures_final: 890,
        structures_peak: 1854,
        largest_size_final: 44,
        largest_size_peak: 44,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 29.66741573033708,
        complexity_final_mean: 4.21640237337806,
        complexity_peak: 9.576252422960163,
        information_final: 4771.140963315964,
        information_peak: 5557.920283257961,
        self_maintaining_structures: 1354,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1156,
        growing_peak_confidence: 1.0,
        persistence_complexity: 287.2875726888049,
    ),
)