(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 2758554610144082482,
    config: Some("g000/g000-i000.config.ron"),
    rules: Some("g000/g000-i000.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 10000,
        bonds_final: 625,
        structures_final: 384,
        structures_peak: 384,
        largest_size_final: 5,
        largest_size_peak: 5,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 6.161458333333333,
        complexity_final_mean: 1.804192335809937,
        complexity_peak: 4.1653923842663385,
        information_final: 0.0,
        information_peak: 0.0,
        self_maintaining_structures: 123,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 127,
        growing_peak_confidence: 0.5,
        persistence_complexity: 105.73882261883755,
    ),
)