(
    seed: 0,
    ticks: 5800,
    sample_every: 100,
    state_hash: 12574185271266999566,
    config: Some("g006/g006-i009.config.ron"),
    rules: Some("g006/g006-i009.pack.ron"),
    actions: None,
    score: (
        samples: 58,
        last_tick: 5800,
        particles_final: 11867,
        bonds_final: 830157,
        structures_final: 152,
        structures_peak: 1867,
        largest_size_final: 9979,
        largest_size_peak: 9979,
        lifetime_final: 58,
        lifetime_peak: 58,
        lifetime_final_mean: 56.598684210526315,
        complexity_final_mean: 4.474377691901377,
        complexity_peak: 19.852365473801186,
        information_final: 15851.03802050557,
        information_peak: 15851.03802050557,
        self_maintaining_structures: 1462,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 1202,
        growing_peak_confidence: 1.0,
        persistence_complexity: 730.9705785366644,
    ),
)