(
    seed: 0,
    ticks: 3000,
    sample_every: 100,
    state_hash: 8460187710894738302,
    config: Some("g004/g004-i007.config.ron"),
    rules: Some("g004/g004-i007.pack.ron"),
    actions: None,
    score: (
        samples: 30,
        last_tick: 3000,
        particles_final: 8844,
        bonds_final: 14982,
        structures_final: 574,
        structures_peak: 1317,
        largest_size_final: 45,
        largest_size_peak: 45,
        lifetime_final: 30,
        lifetime_peak: 30,
        lifetime_final_mean: 29.3397212543554,
        complexity_final_mean: 4.2758875792471605,
        complexity_peak: 8.775534331231567,
        information_final: 1472.7067396193743,
        information_peak: 2946.2539810836315,
        self_maintaining_structures: 1009,
        self_maintaining_peak_confidence: 1.0,
        growing_structures: 821,
        growing_peak_confidence: 0.75,
        persistence_complexity: 261.193022855612,
    ),
)